/*=======================================
This Is All Of The Setup And Base CSS
Do Not Write NEW Css Here Use "style.css"
New CSS In "style.css" Can Overwrite This
=======================================*/

/* Imports Two Fonts */
@import url(ttps://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

@font-face {
	font-family: "VanBerger";
	src: url("../fonts/VanBerger.otf");
}

:root {
	/* Set Up Color Variables */
	--bg: #222222;
	--fg: #eeeeee;
	--accent: #ba90ee;

	background-color: var(--bg);
	color: var(--fg);
}

body {
	font-family: Helvetica, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.content {
	opacity: 0;
	animation: fadeIn 1s ease 0.2s forwards;
	max-width: 1366px;
	padding: 0 5vw;
	margin: auto;
	padding-bottom: 2.5em;
}

.header {
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid var(--fg);
	background-color: var(--bg);
}

.header>* {
	align-content: center;
	color: var(--fg);
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	float: right;
	padding: 0.85em;
	display: block;
}

.menuLogo {
	float: left;
	font-family: 'VanBerger';
	font-size: 1.1em;
}

.menuLogo>span {
	color: var(--accent);
}

.menuLogo:hover>* {
	color: var(--bg);
}

.header a:hover {
	background-color: var(--fg);
	color: var(--bg);
}

.header .icon {
	display: none;
	padding: 1em;
}

.logo {
	margin: 5vh auto;
	width: min(80vh, 90vw);
	max-width: 1000px;
	object-fit: scale-down;
}

.centered {
	display: grid;
	place-content: center;
	text-align: center;
}

.greeting {
	font-size: clamp(2.5rem, -0.6rem + 8vw, 3.5rem);
	margin: auto 1em;
}

.brandname {
	font-family: 'Fira Code', monospace;
	text-shadow: 0 0 10px var(--accent);
}

.footer {
	border-top: 1px solid var(--fg);
	height: min-content;
	margin: 0;
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 0;
	background-color: var(--bg);
}

.footer>* {
	margin: 0.4em;
}

/* Fades In The Content Of The Page (Sans Menu & Footer) */
@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
