/*=======================================
This Is All Of The Setup And Base CSS
Do Not Write NEW Css Here Use "style.css"
New CSS In "style.css" Can Overwrite This
=======================================*/

/* Imports Two Fonts */
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

@font-face {
	font-family: "VanBerger";
	src: url("../assets/fonts/VanBerger.otf");
	font-display: swap;
}

:root {
	/* Set Up Color Variables */
	--bg: #222222;
	--fg: #eeeeee;
	--accent: #ba90ee;

	background-color: var(--bg);
	color: var(--fg);
}

body {
	font-family: Helvetica, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.content {
	opacity: 0;
	animation: fadeIn 1.5s ease 0.2s forwards;
	max-width: 1366px;
	padding: 0 5vw;
	margin: auto;
	padding-bottom: 2.5em;
}

.header {
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid var(--fg);
	background-color: var(--bg);
}

.header>* {
	align-content: center;
	color: var(--fg);
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	float: right;
	padding: 0.85em;
	display: block;
}

span.purple {
	color: var(--accent);
}

.menuLogo {
	float: left;
	font-family: 'VanBerger';
	font-size: 1.015em;
}

.menuLogo:hover>* {
	color: var(--bg);
}

.header a:hover {
	background-color: var(--fg);
	color: var(--bg);
}

.header .icon {
	display: none;
	padding: 1em;
}

.logo {
	margin: 5vh auto;
	width: min(80vh, 90vw);
	max-width: 1000px;
	object-fit: scale-down;
}

.centered {
	display: grid;
	place-content: center;
	text-align: center;
}

.greeting {
	font-size: clamp(2.5rem, -0.6rem + 8vw, 3.5rem);
	margin: auto 1em;
}

.brandname {
	font-family: 'Fira Code', monospace;
	text-shadow: 0 0 10px var(--accent);
}

.footer {
	border-top: 1px solid var(--fg);
	height: min-content;
	margin: 0;
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 0;
	background-color: var(--bg);
}

.login,
.register {
	margin: 2em;
	padding: 2em;
	border: 2px solid var(--fg);
	font-size: clamp(1rem, -0.2rem + 2vw, 1rem);
	box-shadow: 0 0 10px var(--accent);
}

.login {
	float: left;
}

.register {
	float: right;
}

.login *,
.register * {
	margin: 1em;
}

.login button,
.register button {
	animation: boxOut 0.2s linear 0s 1 forwards;
	border-radius: 0;
	padding: 1em 3em;
	background-color: var(--bg);
	border: 2px solid var(--fg);
	color: var(--fg);
}

.login button:hover,
.register button:hover {
	animation: boxIn 0.2s linear 0s 1 forwards;
}

.login input,
.register input {
	border: none;
	box-shadow: none;
	border-radius: 0;
	padding: 1em;
	background-color: var(--bg);
	border-bottom: 1px solid var(--fg);
	color: var(--fg);
	font-size: clamp(1rem, -0.2rem + 2vw, 1rem);
}

.login input:focus,
.register input:focus {
	animation: boxIn 0.2s linear 0s 1 forwards;
	box-shadow: 0 0 0px var(--accent);
	border-bottom: 1px solid var(--fg);
	outline: none;
}

.pageTitle {
	font-size: clamp(2.5rem, -0.6rem + 8vw, 3.5rem);
	text-align: center;
	padding-top: 5%;
	font-family: 'Fira Code', monospace;
	text-shadow: 0 0 10px var(--accent);
}

.container {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 2.5vw;
	margin: 1vw 0 5vw 0;
	padding: 5%;
}

.item {
	animation: boxOut 0.1s linear 0s 1 forwards, shrink 0.1s ease 0s 1 forwards;
	border-radius: 6px;
	font-size: 2em;
	border: 2px solid var(--fg);
	box-shadow: 0 0 0px var(--accent);
	margin: 3%;
}

.item:hover {
	animation: boxIn 0.1s linear 0s 1 forwards, grow 0.1s ease 0s 1 forwards;
}

.item img {
	max-width: 100%;
	border-radius: 5px;
	overflow: hidden;
}

.item p {
	padding: 0 1%;
	margin: 4%;
	text-align: center;
	font-size: min(1em, 5vw);
}

/* Fades In The Content Of The Page (Sans Menu & Footer) */
@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes boxIn {
	from {
		box-shadow: 0 0 0px var(--accent);
	}

	to {
		box-shadow: 0 0 15px var(--accent);
	}
}

@keyframes boxOut {
	from {
		box-shadow: 0 0 15px var(--accent);
	}

	to {
		box-shadow: 0 0 0px var(--accent);
	}
}

@keyframes shrink {
	from {
		transform: scale(1.015);
	}

	to {
		transform: scale(1.0);
	}
}

@keyframes grow {
	from {
		transform: scale(1.0);
	}

	to {
		transform: scale(1.015);
	}
}