@import "./base.css";

#cart {
	z-index: 1;
	position: fixed;
	border-left: 1px solid var(--fg);
	height: 100%;
	width: 5vw;
	right: 0;
	transition: width 1s !important;
	padding-top: 50vh;
	background-color: red;
}

#cart:hover {
	width: 40vh;
}

@media screen and (max-width: 555px) {
	#cart {
		margin: 0;
		border-top: 1px solid var(--fg);
		height: 5vh;
		padding: 0;
		width: 100% !important;
		text-align: center;
		bottom: 3.25em !important;
		left: 0;
		background-color: red;
	}

	.cartOpen {
		height: 40vh !important;
	}
}